<div class="breadcrumbbar">
    <div class="row align-items-center">
        <div class="col-md-12 col-lg-12">
            <h4 class="page-title">Thống kê</h4>
        </div>
    </div>
</div>
<div class="contentbar">
    <div class="row">
        <div class="col-lg-12">
            <div class="card m-b-30">
                <div class="card-header">
                    <h5 class="card-title">Spline Chart</h5>
                </div>
                <div class="card-body">
                    <div id="apex-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>