<section class="account-section bg_img" data-background="/images/account/account-bg.jpg">
    <div class="container">
        <div class="padding-top padding-bottom">
            <div class="account-area">
                <div class="section-header-3">
                    <span class="cate"><a href="/">{{appName}}</a> </span>
                    <h2 class="title">thay đổi mật khẩu</h2>
                </div>
                <form id="change-password-form" class="account-form" method="POST" action="?_method=patch">
                    <div class="form-group">
                        <label class="error" for="email">{{changeErr}}</label>
                        <label for="pass1">mật khẩu hiện tại</label>
                        <input type="password" placeholder="Nhập mật khẩu" id="pass1" name="pass1" />
                    </div>
                    <div class="form-group">
                        <label for="pass2">mật khẩu mới</label>
                        <input type="password" placeholder="Nhập mật khẩu" id="pass2" name="pass2" />
                    </div>
                    <div class="form-group">
                        <label for="pass3">xác nhận mật khẩu mới</label>
                        <input type="password" placeholder="Nhập mật khẩu" id="pass3" name="pass3" />
                    </div>
                    <div class="form-group text-center" style="margin-bottom: 0;">
                        <input type="submit" value="xác nhận" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>