<section class="main-page-header speaker-banner bg_img" data-background="/images/banner/banner07.jpg">
    <div class="container">
        <div class="speaker-banner-content">
            <h2 class="title">hệ thống rạp phim</h2>
            <ul class="breadcrumb">
                <li>
                    <a href="/">trang chủ</a>
                </li>
                <li>hệ thống rạp phim</li>
            </ul>
        </div>
    </div>
</section>

<section class="gallery-section padding-top padding-bottom bg-one">
    <div class="container">
        <div class="tab">
            <ul class="tab-menu">
                <li class="active">thông tin rạp</li>
                <li>phim chiếu tại rạp</li>
            </ul>
            <div class="tab-area">
                <div class="tab-item active">
                    <div class="section-header-3">
                        <h2 class="title">wowo hồ chí minh</h2>
                        <p>
                            World is committed to making participation in the event
                            a harassment free experience for everyone, regardless of
                            level of experience, gender, gender identity and
                            expression
                        </p>
                    </div>
                    <div class="
                        row
                        justify-content-center
                        gallery-wrapper
                        mb-30-none
                    ">
                        <div class="col-lg-3 col-sm-6">
                            <div class="gallery-item two">
                                <div class="gallery-thumb">
                                    <a href="/images/gallery/gallery05.jpg" class="img-pop">
                                        <i class="flaticon-loupe"></i>
                                    </a>
                                    <img src="/images/gallery/gallery05.jpg" alt="gallery" />
                                </div>
                            </div>
                            <div class="gallery-item two">
                                <div class="gallery-thumb">
                                    <a href="/images/gallery/gallery06.jpg" class="img-pop">
                                        <i class="flaticon-loupe"></i>
                                    </a>
                                    <img src="/images/gallery/gallery06.jpg" alt="gallery" />
                                </div>
                            </div>
                            <div class="gallery-item two">
                                <div class="gallery-thumb">
                                    <a href="/images/gallery/gallery07.jpg" class="img-pop">
                                        <i class="flaticon-loupe"></i>
                                    </a>
                                    <img src="/images/gallery/gallery07.jpg" alt="gallery" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 order-lg-1">
                            <div class="gallery-item two">
                                <div class="gallery-thumb">
                                    <a href="/images/gallery/gallery11.jpg" class="img-pop">
                                        <i class="flaticon-loupe"></i>
                                    </a>
                                    <img src="/images/gallery/gallery11.jpg" alt="gallery" />
                                </div>
                            </div>
                            <div class="gallery-item two">
                                <div class="gallery-thumb">
                                    <a href="/images/gallery/gallery12.jpg" class="img-pop">
                                        <i class="flaticon-loupe"></i>
                                    </a>
                                    <img src="/images/gallery/gallery12.jpg" alt="gallery" />
                                </div>
                            </div>
                            <div class="gallery-item two">
                                <div class="gallery-thumb">
                                    <a href="/images/gallery/gallery13.jpg" class="img-pop">
                                        <i class="flaticon-loupe"></i>
                                    </a>
                                    <img src="/images/gallery/gallery13.jpg" alt="gallery" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="gallery-item two">
                                <div class="gallery-thumb">
                                    <a href="/images/gallery/gallery08.jpg" class="img-pop">
                                        <i class="flaticon-loupe"></i>
                                    </a>
                                    <img src="/images/gallery/gallery08.jpg" alt="gallery" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="gallery-item two">
                                        <div class="gallery-thumb">
                                            <a href="/images/gallery/gallery09.jpg" class="img-pop">
                                                <i class="flaticon-loupe"></i>
                                            </a>
                                            <img src="/images/gallery/gallery09.jpg" alt="gallery" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="gallery-item two">
                                        <div class="gallery-thumb">
                                            <a href="/images/gallery/gallery10.jpg" class="img-pop">
                                                <i class="flaticon-loupe"></i>
                                            </a>
                                            <img src="/images/gallery/gallery10.jpg" alt="gallery" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-item">
                    <div class="ticket-plan-section mt-50">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 mb-5 mb-lg-0"></div>
                            <div class="col-lg-9 mb-5 mb-lg-0">
                                <ul class="seat-plan-wrapper bg-five">
                                    <li>
                                        <div class="movie-name">
                                            <div class="icons">
                                                <i class="far fa-heart"></i>
                                                <i class="fas fa-heart"></i>
                                            </div>
                                            <a href="#0" class="name">Genesis Cinema</a>
                                            <div class="location-icon">
                                                <i class="fas fa-map-marker-alt"></i>
                                            </div>
                                        </div>
                                        <div class="movie-schedule">
                                            <div class="item">
                                                09:40
                                            </div>
                                            <div class="item">
                                                13:45
                                            </div>
                                            <div class="item">
                                                15:45
                                            </div>
                                            <div class="item">
                                                19:50
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="movie-name">
                                            <div class="icons">
                                                <i class="far fa-heart"></i>
                                                <i class="fas fa-heart"></i>
                                            </div>
                                            <a href="#0" class="name">the beach</a>
                                            <div class="location-icon">
                                                <i class="fas fa-map-marker-alt"></i>
                                            </div>
                                        </div>
                                        <div class="movie-schedule">
                                            <div class="item">
                                                09:40
                                            </div>
                                            <div class="item">
                                                13:45
                                            </div>
                                            <div class="item">
                                                15:45
                                            </div>
                                            <div class="item">
                                                19:50
                                            </div>
                                        </div>
                                    </li>
                                    <li class="active">
                                        <div class="movie-name">
                                            <div class="icons">
                                                <i class="far fa-heart"></i>
                                                <i class="fas fa-heart"></i>
                                            </div>
                                            <a href="#0" class="name">city work</a>
                                            <div class="location-icon">
                                                <i class="fas fa-map-marker-alt"></i>
                                            </div>
                                        </div>
                                        <div class="movie-schedule">
                                            <div class="item">
                                                09:40
                                            </div>
                                            <div class="item active">
                                                13:45
                                            </div>
                                            <div class="item">
                                                15:45
                                            </div>
                                            <div class="item">
                                                19:50
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="movie-name">
                                            <div class="icons">
                                                <i class="far fa-heart"></i>
                                                <i class="fas fa-heart"></i>
                                            </div>
                                            <a href="#0" class="name">box park</a>
                                            <div class="location-icon">
                                                <i class="fas fa-map-marker-alt"></i>
                                            </div>
                                        </div>
                                        <div class="movie-schedule">
                                            <div class="item">
                                                09:40
                                            </div>
                                            <div class="item">
                                                13:45
                                            </div>
                                            <div class="item">
                                                15:45
                                            </div>
                                            <div class="item">
                                                19:50
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="movie-name">
                                            <div class="icons">
                                                <i class="far fa-heart"></i>
                                                <i class="fas fa-heart"></i>
                                            </div>
                                            <a href="#0" class="name">la mer</a>
                                            <div class="location-icon">
                                                <i class="fas fa-map-marker-alt"></i>
                                            </div>
                                        </div>
                                        <div class="movie-schedule">
                                            <div class="item">
                                                09:40
                                            </div>
                                            <div class="item">
                                                13:45
                                            </div>
                                            <div class="item">
                                                15:45
                                            </div>
                                            <div class="item">
                                                19:50
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="movie-name">
                                            <div class="icons">
                                                <i class="far fa-heart"></i>
                                                <i class="fas fa-heart"></i>
                                            </div>
                                            <a href="#0" class="name">wanted</a>
                                            <div class="location-icon">
                                                <i class="fas fa-map-marker-alt"></i>
                                            </div>
                                        </div>
                                        <div class="movie-schedule">
                                            <div class="item">
                                                09:40
                                            </div>
                                            <div class="item">
                                                13:45
                                            </div>
                                            <div class="item">
                                                15:45
                                            </div>
                                            <div class="item">
                                                19:50
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>