<section class="banner-section">
    <div class="banner-bg bg_img bg-fixed" data-background="/images/banner/banner02.jpg"></div>
    <div class="container">
        <div class="banner-content">
            <h1 class="title bold">
                mua vé <span class="color-theme">xem phim</span> trực
                tuyến
            </h1>
            <p>
                mua trước vé xem phim, tìm thời gian chiếu phim, xem
                trailer, đọc đánh giá phim và hơn thế nữa
            </p>
        </div>
    </div>
</section>

<section class="search-ticket-section padding-top pt-lg-0">
    <div class="container">
        <div class="search-tab bg_img" data-background="/images/ticket/ticket-bg01.jpg">
            <div class="row align-items-center mb--20">
                <div class="col-lg-6 mb-20">
                    <div class="search-ticket-header">
                        <h6 class="category">
                            chào mừng bạn đến với wowo cinema!
                            <!DOCTYPE html>
                        </h6>
                        <h3 class="title">bạn đang tìm phim gì?</h3>
                    </div>
                </div>
            </div>
            <div class="tab-area">
                <div class="tab-item active">
                    <form class="ticket-search-form">
                        <div class="form-group large">
                            <input type="text" placeholder="Nhập tên phim" />
                            <button type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="/images/ticket/city.png" alt="ticket" />
                            </div>
                            <span class="type">cụm rạp</span>
                            <select class="select-bar">
                                <option value="london">London</option>
                                <option value="dhaka">dhaka</option>
                                <option value="rosario">rosario</option>
                                <option value="madrid">madrid</option>
                                <option value="koltaka">kolkata</option>
                                <option value="rome">rome</option>
                                <option value="khoksa">khoksa</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="/images/ticket/cinema.png" alt="ticket" />
                            </div>
                            <span class="type">rạp</span>
                            <select class="select-bar">
                                <option value="Awaken">Awaken</option>
                                <option value="dhaka">dhaka</option>
                                <option value="rosario">rosario</option>
                                <option value="madrid">madrid</option>
                                <option value="koltaka">kolkata</option>
                                <option value="rome">rome</option>
                                <option value="khoksa">khoksa</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="/images/ticket/date.png" alt="ticket" />
                            </div>
                            <span class="type">ngày chiếu</span>
                            <select class="select-bar">
                                <option value="26-12-19">
                                    23/10/2020
                                </option>
                                <option value="26-12-19">
                                    24/10/2020
                                </option>
                                <option value="26-12-19">
                                    25/10/2020
                                </option>
                                <option value="26-12-19">
                                    26/10/2020
                                </option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="movie-section padding-top padding-bottom">
    <div class="container">
        <div class="row flex-wrap-reverse justify-content-center">
            <div class="col-lg-12 mb-50 mb-lg-0">
                <div class="filter-tab tab">
                    <div class="section-header-2">
                        <div class="left">
                            <h2 class="title">phim</h2>
                            <p>
                                Chắc chắn bạn không bỏ lỡ những bộ phim
                                ngày hôm nay !
                            </p>
                        </div>
                        <ul class="tab-menu">
                            <li class="active">tất cả</li>
                            <li>mới công chiếu</li>
                            <li>xem nhiều nhất</li>
                        </ul>
                    </div>
                    <div class="tab-area">
                        <div class="tab-item active">
                            <div class="row mb-10 justify-content-center">
                                <div class="col-sm-6 col-lg-3">
                                    <div class="movie-grid">
                                        <div class="movie-thumb c-thumb">
                                            <a href="/detail.html">
                                                <img src="/images/movie/movie01.jpg" alt="movie" />
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title m-0">
                                                <a href="details.html">alone</a>
                                            </h5>
                                            <ul class="
                                                            movie-rating-percent
                                                        ">
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/tomato.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/cake.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="movie-grid">
                                        <div class="movie-thumb c-thumb">
                                            <a href="detail.html">
                                                <img src="/images/movie/movie02.jpg" alt="movie" />
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title m-0">
                                                <a href="details.html">mars</a>
                                            </h5>
                                            <ul class="
                                                            movie-rating-percent
                                                        ">
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/tomato.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/cake.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="movie-grid">
                                        <div class="movie-thumb c-thumb">
                                            <a href="detail.html">
                                                <img src="/images/movie/movie03.jpg" alt="movie" />
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title m-0">
                                                <a href="details.html">venus</a>
                                            </h5>
                                            <ul class="
                                                            movie-rating-percent
                                                        ">
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/tomato.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/cake.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="movie-grid">
                                        <div class="movie-thumb c-thumb">
                                            <a href="detail.html">
                                                <img src="/images/movie/movie04.jpg" alt="movie" />
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title m-0">
                                                <a href="details.html">on watch</a>
                                            </h5>
                                            <ul class="
                                                            movie-rating-percent
                                                        ">
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/tomato.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/cake.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="movie-grid">
                                        <div class="movie-thumb c-thumb">
                                            <a href="detail.html">
                                                <img src="/images/movie/movie05.jpg" alt="movie" />
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title m-0">
                                                <a href="details.html">fury</a>
                                            </h5>
                                            <ul class="
                                                            movie-rating-percent
                                                        ">
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/tomato.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/cake.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="movie-grid">
                                        <div class="movie-thumb c-thumb">
                                            <a href="detail.html">
                                                <img src="/images/movie/movie06.jpg" alt="movie" />
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title m-0">
                                                <a href="details.html">trooper</a>
                                            </h5>
                                            <ul class="
                                                            movie-rating-percent
                                                        ">
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/tomato.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/cake.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="movie-grid">
                                        <div class="movie-thumb c-thumb">
                                            <a href="detail.html">
                                                <img src="/images/movie/movie07.jpg" alt="movie" />
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title m-0">
                                                <a href="details.html">horror night</a>
                                            </h5>
                                            <ul class="
                                                            movie-rating-percent
                                                        ">
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/tomato.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/cake.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="movie-grid">
                                        <div class="movie-thumb c-thumb">
                                            <a href="detail.html">
                                                <img src="/images/movie/movie08.jpg" alt="movie" />
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title m-0">
                                                <a href="details.html">the lost name</a>
                                            </h5>
                                            <ul class="
                                                            movie-rating-percent
                                                        ">
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/tomato.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/cake.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="movie-grid">
                                        <div class="movie-thumb c-thumb">
                                            <a href="detail.html">
                                                <img src="/images/movie/movie09.jpg" alt="movie" />
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title m-0">
                                                <a href="details.html">calm stedfast</a>
                                            </h5>
                                            <ul class="
                                                            movie-rating-percent
                                                        ">
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/tomato.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/cake.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="movie-grid">
                                        <div class="movie-thumb c-thumb">
                                            <a href="detail.html">
                                                <img src="/images/movie/movie10.jpg" alt="movie" />
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title m-0">
                                                <a href="details.html">criminal on
                                                    party</a>
                                            </h5>
                                            <ul class="
                                                            movie-rating-percent
                                                        ">
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/tomato.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/cake.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="movie-grid">
                                        <div class="movie-thumb c-thumb">
                                            <a href="detail.html">
                                                <img src="/images/movie/movie11.jpg" alt="movie" />
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title m-0">
                                                <a href="details.html">halloween party</a>
                                            </h5>
                                            <ul class="
                                                            movie-rating-percent
                                                        ">
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/tomato.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/cake.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="movie-grid">
                                        <div class="movie-thumb c-thumb">
                                            <a href="detail.html">
                                                <img src="/images/movie/movie12.jpg" alt="movie" />
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title m-0">
                                                <a href="details.html">the most wanted</a>
                                            </h5>
                                            <ul class="
                                                            movie-rating-percent
                                                        ">
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/tomato.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/images/movie/cake.png" alt="movie" />
                                                    </div>
                                                    <span class="content">88%</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-item">
                            <div class="movie-area mb-10">
                                <div class="movie-list">
                                    <div class="movie-thumb c-thumb">
                                        <a href="details.html" class="w-100 bg_img h-100"
                                            data-background="/images/movie/movie01.jpg">
                                            <img class="d-sm-none" src="/images/movie/movie01.jpg" alt="movie" />
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title">
                                            <a href="details.html">alone</a>
                                        </h5>
                                        <p class="duration">
                                            2hrs 50 min
                                        </p>
                                        <div class="movie-tags">
                                            <a href="#0">action</a>
                                            <a href="#0">adventure</a>
                                            <a href="#0">fantasy</a>
                                        </div>
                                        <div class="release">
                                            <span>Release Date : </span>
                                            <a href="#0">
                                                November 8 , 2020</a>
                                        </div>
                                        <ul class="movie-rating-percent">
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/tomato.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/cake.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                        </ul>
                                        <div class="book-area">
                                            <div class="book-ticket">
                                                <div class="react-item">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/heart.png" alt="icons" />
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="
                                                                react-item
                                                                mr-auto
                                                            ">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/book.png" alt="icons" />
                                                        </div>
                                                        <span>book
                                                            ticket</span>
                                                    </a>
                                                </div>
                                                <div class="react-item">
                                                    <a href="#0" class="
                                                                    popup-video
                                                                ">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/play-button.png" alt="icons" />
                                                        </div>
                                                        <span>watch
                                                            trailer</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-list">
                                    <div class="movie-thumb c-thumb">
                                        <a href="details.html" class="w-100 bg_img h-100"
                                            data-background="/images/movie/movie02.jpg">
                                            <img class="d-sm-none" src="/images/movie/movie02.jpg" alt="movie" />
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title">
                                            <a href="details.html">mars</a>
                                        </h5>
                                        <p class="duration">
                                            2hrs 50 min
                                        </p>
                                        <div class="movie-tags">
                                            <a href="#0">action</a>
                                            <a href="#0">adventure</a>
                                            <a href="#0">fantasy</a>
                                        </div>
                                        <div class="release">
                                            <span>Release Date : </span>
                                            <a href="#0">
                                                November 8 , 2020</a>
                                        </div>
                                        <ul class="movie-rating-percent">
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/tomato.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/cake.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                        </ul>
                                        <div class="book-area">
                                            <div class="book-ticket">
                                                <div class="react-item">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/heart.png" alt="icons" />
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="
                                                                react-item
                                                                mr-auto
                                                            ">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/book.png" alt="icons" />
                                                        </div>
                                                        <span>book
                                                            ticket</span>
                                                    </a>
                                                </div>
                                                <div class="react-item">
                                                    <a href="#0" class="
                                                                    popup-video
                                                                ">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/play-button.png" alt="icons" />
                                                        </div>
                                                        <span>watch
                                                            trailer</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-list">
                                    <div class="movie-thumb c-thumb">
                                        <a href="details.html" class="w-100 bg_img h-100"
                                            data-background="/images/movie/movie03.jpg">
                                            <img class="d-sm-none" src="/images/movie/movie03.jpg" alt="movie" />
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title">
                                            <a href="details.html">venus</a>
                                        </h5>
                                        <p class="duration">
                                            2hrs 50 min
                                        </p>
                                        <div class="movie-tags">
                                            <a href="#0">action</a>
                                            <a href="#0">adventure</a>
                                            <a href="#0">fantasy</a>
                                        </div>
                                        <div class="release">
                                            <span>Release Date : </span>
                                            <a href="#0">
                                                November 8 , 2020</a>
                                        </div>
                                        <ul class="movie-rating-percent">
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/tomato.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/cake.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                        </ul>
                                        <div class="book-area">
                                            <div class="book-ticket">
                                                <div class="react-item">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/heart.png" alt="icons" />
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="
                                                                react-item
                                                                mr-auto
                                                            ">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/book.png" alt="icons" />
                                                        </div>
                                                        <span>book
                                                            ticket</span>
                                                    </a>
                                                </div>
                                                <div class="react-item">
                                                    <a href="#0" class="
                                                                    popup-video
                                                                ">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/play-button.png" alt="icons" />
                                                        </div>
                                                        <span>watch
                                                            trailer</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-list">
                                    <div class="movie-thumb c-thumb">
                                        <a href="details.html" class="w-100 bg_img h-100"
                                            data-background="/images/movie/movie04.jpg">
                                            <img class="d-sm-none" src="/images/movie/movie04.jpg" alt="movie" />
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title">
                                            <a href="details.html">on watch</a>
                                        </h5>
                                        <p class="duration">
                                            2hrs 50 min
                                        </p>
                                        <div class="movie-tags">
                                            <a href="#0">action</a>
                                            <a href="#0">adventure</a>
                                            <a href="#0">fantasy</a>
                                        </div>
                                        <div class="release">
                                            <span>Release Date : </span>
                                            <a href="#0">
                                                November 8 , 2020</a>
                                        </div>
                                        <ul class="movie-rating-percent">
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/tomato.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/cake.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                        </ul>
                                        <div class="book-area">
                                            <div class="book-ticket">
                                                <div class="react-item">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/heart.png" alt="icons" />
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="
                                                                react-item
                                                                mr-auto
                                                            ">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/book.png" alt="icons" />
                                                        </div>
                                                        <span>book
                                                            ticket</span>
                                                    </a>
                                                </div>
                                                <div class="react-item">
                                                    <a href="#0" class="
                                                                    popup-video
                                                                ">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/play-button.png" alt="icons" />
                                                        </div>
                                                        <span>watch
                                                            trailer</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-list">
                                    <div class="movie-thumb c-thumb">
                                        <a href="details.html" class="w-100 bg_img h-100"
                                            data-background="/images/movie/movie05.jpg">
                                            <img class="d-sm-none" src="/images/movie/movie05.jpg" alt="movie" />
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title">
                                            <a href="details.html">fury</a>
                                        </h5>
                                        <p class="duration">
                                            2hrs 50 min
                                        </p>
                                        <div class="movie-tags">
                                            <a href="#0">action</a>
                                            <a href="#0">adventure</a>
                                            <a href="#0">fantasy</a>
                                        </div>
                                        <div class="release">
                                            <span>Release Date : </span>
                                            <a href="#0">
                                                November 8 , 2020</a>
                                        </div>
                                        <ul class="movie-rating-percent">
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/tomato.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/cake.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                        </ul>
                                        <div class="book-area">
                                            <div class="book-ticket">
                                                <div class="react-item">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/heart.png" alt="icons" />
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="
                                                                react-item
                                                                mr-auto
                                                            ">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/book.png" alt="icons" />
                                                        </div>
                                                        <span>book
                                                            ticket</span>
                                                    </a>
                                                </div>
                                                <div class="react-item">
                                                    <a href="#0" class="
                                                                    popup-video
                                                                ">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/play-button.png" alt="icons" />
                                                        </div>
                                                        <span>watch
                                                            trailer</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-list">
                                    <div class="movie-thumb c-thumb">
                                        <a href="details.html" class="w-100 bg_img h-100"
                                            data-background="/images/movie/movie06.jpg">
                                            <img class="d-sm-none" src="/images/movie/movie06.jpg" alt="movie" />
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title">
                                            <a href="details.html">trooper</a>
                                        </h5>
                                        <p class="duration">
                                            2hrs 50 min
                                        </p>
                                        <div class="movie-tags">
                                            <a href="#0">action</a>
                                            <a href="#0">adventure</a>
                                            <a href="#0">fantasy</a>
                                        </div>
                                        <div class="release">
                                            <span>Release Date : </span>
                                            <a href="#0">
                                                November 8 , 2020</a>
                                        </div>
                                        <ul class="movie-rating-percent">
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/tomato.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/cake.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                        </ul>
                                        <div class="book-area">
                                            <div class="book-ticket">
                                                <div class="react-item">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/heart.png" alt="icons" />
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="
                                                                react-item
                                                                mr-auto
                                                            ">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/book.png" alt="icons" />
                                                        </div>
                                                        <span>book
                                                            ticket</span>
                                                    </a>
                                                </div>
                                                <div class="react-item">
                                                    <a href="#0" class="
                                                                    popup-video
                                                                ">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/play-button.png" alt="icons" />
                                                        </div>
                                                        <span>watch
                                                            trailer</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-list">
                                    <div class="movie-thumb c-thumb">
                                        <a href="details.html" class="w-100 bg_img h-100"
                                            data-background="/images/movie/movie07.jpg">
                                            <img class="d-sm-none" src="/images/movie/movie07.jpg" alt="movie" />
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title">
                                            <a href="details.html">horror night</a>
                                        </h5>
                                        <p class="duration">
                                            2hrs 50 min
                                        </p>
                                        <div class="movie-tags">
                                            <a href="#0">action</a>
                                            <a href="#0">adventure</a>
                                            <a href="#0">fantasy</a>
                                        </div>
                                        <div class="release">
                                            <span>Release Date : </span>
                                            <a href="#0">
                                                November 8 , 2020</a>
                                        </div>
                                        <ul class="movie-rating-percent">
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/tomato.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/cake.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                        </ul>
                                        <div class="book-area">
                                            <div class="book-ticket">
                                                <div class="react-item">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/heart.png" alt="icons" />
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="
                                                                react-item
                                                                mr-auto
                                                            ">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/book.png" alt="icons" />
                                                        </div>
                                                        <span>book
                                                            ticket</span>
                                                    </a>
                                                </div>
                                                <div class="react-item">
                                                    <a href="#0" class="
                                                                    popup-video
                                                                ">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/play-button.png" alt="icons" />
                                                        </div>
                                                        <span>watch
                                                            trailer</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-list">
                                    <div class="movie-thumb c-thumb">
                                        <a href="details.html" class="w-100 bg_img h-100"
                                            data-background="/images/movie/movie08.jpg">
                                            <img class="d-sm-none" src="/images/movie/movie08.jpg" alt="movie" />
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title">
                                            <a href="details.html">the lost name</a>
                                        </h5>
                                        <p class="duration">
                                            2hrs 50 min
                                        </p>
                                        <div class="movie-tags">
                                            <a href="#0">action</a>
                                            <a href="#0">adventure</a>
                                            <a href="#0">fantasy</a>
                                        </div>
                                        <div class="release">
                                            <span>Release Date : </span>
                                            <a href="#0">
                                                November 8 , 2020</a>
                                        </div>
                                        <ul class="movie-rating-percent">
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/tomato.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/cake.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                        </ul>
                                        <div class="book-area">
                                            <div class="book-ticket">
                                                <div class="react-item">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/heart.png" alt="icons" />
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="
                                                                react-item
                                                                mr-auto
                                                            ">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/book.png" alt="icons" />
                                                        </div>
                                                        <span>book
                                                            ticket</span>
                                                    </a>
                                                </div>
                                                <div class="react-item">
                                                    <a href="#0" class="
                                                                    popup-video
                                                                ">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/play-button.png" alt="icons" />
                                                        </div>
                                                        <span>watch
                                                            trailer</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-list">
                                    <div class="movie-thumb c-thumb">
                                        <a href="details.html" class="w-100 bg_img h-100"
                                            data-background="/images/movie/movie09.jpg">
                                            <img class="d-sm-none" src="/images/movie/movie09.jpg" alt="movie" />
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title">
                                            <a href="details.html">calm stedfast</a>
                                        </h5>
                                        <p class="duration">
                                            2hrs 50 min
                                        </p>
                                        <div class="movie-tags">
                                            <a href="#0">action</a>
                                            <a href="#0">adventure</a>
                                            <a href="#0">fantasy</a>
                                        </div>
                                        <div class="release">
                                            <span>Release Date : </span>
                                            <a href="#0">
                                                November 8 , 2020</a>
                                        </div>
                                        <ul class="movie-rating-percent">
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/tomato.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/cake.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                        </ul>
                                        <div class="book-area">
                                            <div class="book-ticket">
                                                <div class="react-item">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/heart.png" alt="icons" />
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="
                                                                react-item
                                                                mr-auto
                                                            ">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/book.png" alt="icons" />
                                                        </div>
                                                        <span>book
                                                            ticket</span>
                                                    </a>
                                                </div>
                                                <div class="react-item">
                                                    <a href="#0" class="
                                                                    popup-video
                                                                ">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/play-button.png" alt="icons" />
                                                        </div>
                                                        <span>watch
                                                            trailer</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-list">
                                    <div class="movie-thumb c-thumb">
                                        <a href="details.html" class="w-100 bg_img h-100"
                                            data-background="/images/movie/movie10.jpg">
                                            <img class="d-sm-none" src="/images/movie/movie10.jpg" alt="movie" />
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title">
                                            <a href="details.html">criminal on party</a>
                                        </h5>
                                        <p class="duration">
                                            2hrs 50 min
                                        </p>
                                        <div class="movie-tags">
                                            <a href="#0">action</a>
                                            <a href="#0">adventure</a>
                                            <a href="#0">fantasy</a>
                                        </div>
                                        <div class="release">
                                            <span>Release Date : </span>
                                            <a href="#0">
                                                November 8 , 2020</a>
                                        </div>
                                        <ul class="movie-rating-percent">
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/tomato.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/cake.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                        </ul>
                                        <div class="book-area">
                                            <div class="book-ticket">
                                                <div class="react-item">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/heart.png" alt="icons" />
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="
                                                                react-item
                                                                mr-auto
                                                            ">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/book.png" alt="icons" />
                                                        </div>
                                                        <span>book
                                                            ticket</span>
                                                    </a>
                                                </div>
                                                <div class="react-item">
                                                    <a href="#0" class="
                                                                    popup-video
                                                                ">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/play-button.png" alt="icons" />
                                                        </div>
                                                        <span>watch
                                                            trailer</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-list">
                                    <div class="movie-thumb c-thumb">
                                        <a href="details.html" class="w-100 bg_img h-100"
                                            data-background="/images/movie/movie11.jpg">
                                            <img class="d-sm-none" src="/images/movie/movie11.jpg" alt="movie" />
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title">
                                            <a href="details.html">halloween party</a>
                                        </h5>
                                        <p class="duration">
                                            2hrs 50 min
                                        </p>
                                        <div class="movie-tags">
                                            <a href="#0">action</a>
                                            <a href="#0">adventure</a>
                                            <a href="#0">fantasy</a>
                                        </div>
                                        <div class="release">
                                            <span>Release Date : </span>
                                            <a href="#0">
                                                November 8 , 2020</a>
                                        </div>
                                        <ul class="movie-rating-percent">
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/tomato.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/cake.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                        </ul>
                                        <div class="book-area">
                                            <div class="book-ticket">
                                                <div class="react-item">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/heart.png" alt="icons" />
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="
                                                                react-item
                                                                mr-auto
                                                            ">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/book.png" alt="icons" />
                                                        </div>
                                                        <span>book
                                                            ticket</span>
                                                    </a>
                                                </div>
                                                <div class="react-item">
                                                    <a href="#0" class="
                                                                    popup-video
                                                                ">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/play-button.png" alt="icons" />
                                                        </div>
                                                        <span>watch
                                                            trailer</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie-list">
                                    <div class="movie-thumb c-thumb">
                                        <a href="details.html" class="w-100 bg_img h-100"
                                            data-background="/images/movie/movie12.jpg">
                                            <img class="d-sm-none" src="/images/movie/movie12.jpg" alt="movie" />
                                        </a>
                                    </div>
                                    <div class="movie-content bg-one">
                                        <h5 class="title">
                                            <a href="details.html">the most wanted</a>
                                        </h5>
                                        <p class="duration">
                                            2hrs 50 min
                                        </p>
                                        <div class="movie-tags">
                                            <a href="#0">action</a>
                                            <a href="#0">adventure</a>
                                            <a href="#0">fantasy</a>
                                        </div>
                                        <div class="release">
                                            <span>Release Date : </span>
                                            <a href="#0">
                                                November 8 , 2020</a>
                                        </div>
                                        <ul class="movie-rating-percent">
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/tomato.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                            <li>
                                                <div class="thumb">
                                                    <img src="/images/movie/cake.png" alt="movie" />
                                                </div>
                                                <span class="content">88%</span>
                                            </li>
                                        </ul>
                                        <div class="book-area">
                                            <div class="book-ticket">
                                                <div class="react-item">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/heart.png" alt="icons" />
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="
                                                                react-item
                                                                mr-auto
                                                            ">
                                                    <a href="#0">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/book.png" alt="icons" />
                                                        </div>
                                                        <span>book
                                                            ticket</span>
                                                    </a>
                                                </div>
                                                <div class="react-item">
                                                    <a href="#0" class="
                                                                    popup-video
                                                                ">
                                                        <div class="
                                                                        thumb
                                                                    ">
                                                            <img src="/images/icons/play-button.png" alt="icons" />
                                                        </div>
                                                        <span>watch
                                                            trailer</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination-area text-center">
                        <a href="#0"><i class="fas fa-angle-double-left"></i><span>Trước</span></a>
                        <a href="#0">1</a>
                        <a href="#0">2</a>
                        <a href="#0" class="active">3</a>
                        <a href="#0">4</a>
                        <a href="#0">5</a>
                        <a href="#0"><span>Sau</span><i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>