<section class="account-section bg_img" data-background="/images/account/account-bg.jpg">
    <div class="container">
        <div class="padding-top padding-bottom">
            <div class="account-area">
                <div class="section-header-3">
                    <span class="cate"><a href="/">wowo cinema</a> </span>
                </div>
                <div class="option">
                    {{notification}}
                </div>
            </div>
        </div>
    </div>
</section>