<section class="account-section bg_img" data-background="./assets/images/account/account-bg.jpg">
    <div class="container">
        <div class="padding-top padding-bottom">
            <div class="account-area">
                <div class="section-header-3">
                    <span class="cate">wowo cinema</span>
                    <h2 class="title">đăng ký</h2>
                </div>
                <form class="account-form">
                    <div class="form-group">
                        <label for="email1">email<span>*</span></label>
                        <input type="text" placeholder="Nhập email" id="email1" required />
                    </div>
                    <div class="form-group">
                        <label for="pass1">mật khẩu<span>*</span></label>
                        <input type="password" placeholder="Nhập mật khẩu" id="pass1" required />
                    </div>
                    <div class="form-group">
                        <label for="pass2">xác nhận mật khẩu<span>*</span></label>
                        <input type="password" placeholder="Nhập lại mật khẩu" id="pass2" required />
                    </div>
                    <div class="form-group checkgroup">
                        <input type="checkbox" id="bal" required checked />
                        <label for="bal">tôi đồng ý với
                            <a href="#">các điều khoản và chính sách bảo mật</a>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="đăng ký" />
                    </div>
                </form>
                <div class="option">
                    Bạn đã có tài khoản?
                    <a href="/login">đăng nhập</a>
                </div>
                <div class="or"><span>hoặc</span></div>
                <ul class="social-icons">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-google"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>