<div class="movie-facility padding-bottom padding-top">
    <div class="container">
        <div class="row">
            <div class="offset-4 col-lg-4">
                <div class="ticket--item">
                    <div class="ticket-thumb">
                        <img src="/images/ticket/ticket03.png" alt="ticket">
                    </div>
                    <div class="ticket-content">
                        <span class="ticket-title">mã</span>
                        <span class="ticket-title">mã QR để kiểm tra vé khi vào rạp</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>