<section class="account-section bg_img" data-background="/images/account/account-bg.jpg">
    <div class="movie-facility padding-bottom padding-top">
        <div class="container">
            <div class="row">
                <div class="offset-4 col-lg-4">
                    <div class="ticket--item">
                        <div class="ticket-thumb">
                            <a href="/"><img src="/images/ticket/ticket03.png" alt="ticket"></a>
                        </div>
                        <div class="ticket-content">
                            {{#if qrCodeUrl}}
                                <img src="{{qrCodeUrl}}" alt="qrcode">
                                <span class="ticket-title">mã QR để kiểm soát vé khi vào rạp</span>
                            {{else}}
                                asdasdsa
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>