<div class="leftbar">
    <div class="sidebar">
        <div class="navigationbar">
            <div class="vertical-menu-detail">
                <div class="logobar">
                    <a href="/" class="logo logo-large"><img src="/images/logo/single-logo.png" class="img-fluid"
                            alt="logo" /></a>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-ecommerce" role="tabpanel"
                        aria-labelledby="v-pills-ecommerce-tab">
                        <ul class="vertical-menu">
                            <li>
                                <a href="/admin"><img src="/admin/images/svg-icon/dashboard.svg" class="img-fluid"
                                        alt="dashboard" />Thống kê</a>
                            </li>
                            <li>
                                <a href="javaScript:void();">
                                    <img src="/admin/images/svg-icon/backend.svg" class="img-fluid"
                                        alt="backend" /><span>Quản lý</span><i class="
                                                        feather
                                                        icon-chevron-right
                                                    "></i>
                                </a>
                                <ul class="vertical-submenu" style="display: block;">
                                    <li>
                                        <a href="/admin/movie">Phim</a>
                                    </li>
                                    <li>
                                        <a href="/admin/cinema">Cụm rạp</a>
                                    </li>
                                    <li>
                                        <a href="/admin/room">Rạp</a>
                                    </li>
                                    <li>
                                        <a href="/admin/showtime">Suất chiếu</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>