<footer class="footer-section">
    <div class="container">
        <div class="footer-top">
            <div class="logo">
                <a href="index-1.html">
                    <img src="/images/footer/footer-logo.png" alt="footer" />
                </a>
            </div>
            <ul class="social-icons">
                <li>
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="active">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-pinterest-p"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-google"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-area">
                <div class="left">
                    <p>copyright © <a href="#">wowo</a>. all rights reserved</p>
                </div>
                <ul class="links">
                    <li>
                        <a href="#">về chúng tôi</a>
                    </li>
                    <li>
                        <a href="#">điều khoản sử dụng</a>
                    </li>
                    <li>
                        <a href="#">chính sách bảo mật</a>
                    </li>
                    <li>
                        <a href="#">câu hỏi thường gặp</a>
                    </li>
                    <li>
                        <a href="#">phản hồi</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>