<header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a href="index.html">
                    <img src="/images/logo/logo.png" alt="logo" />
                </a>
            </div>
            <ul class="menu">
                <li>
                    <a href="/" class="active">mua vé</a>
                </li>
                <li>
                    <a href="/cinema.html">hệ thống rạp phim</a>
                    <ul class="submenu">
                        <li>
                            <a href="/cinema.html">wowo cần thơ</a>
                        </li>
                        <li>
                            <a href="/cinema.html">wowo hồ chí minh</a>
                        </li>
                        <li>
                            <a href="/cinema.html">wowo đà nẵng</a>
                        </li>
                        <li>
                            <a href="/cinema.html">wowo hà nội</a>
                        </li>
                    </ul>
                </li>
                <li class="header-button pr-0">
                    {{#if displayName}}
                        <a class="truncated">{{displayName}}</a>
                        <ul class="submenu">
                            <li>
                                <a href="/personal">thông tin tài khoản</a>
                            </li>
                            <li>
                                <a href="/logout">đăng xuất</a>
                            </li>
                        </ul>
                    {{else}}
                        <a href="/login">đăng nhập</a>
                    {{/if}}
                </li>
            </ul>
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>