<header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a href="index.html">
                    <img src="/images/logo/logo.png" alt="logo" />
                </a>
            </div>
            <ul class="menu">
                <li>
                    <a href="/" class="active">mua vé</a>
                </li>
                <li>
                    <a href="/cinema.html">hệ thống rạp phim</a>
                    <ul class="submenu">
                        <li>
                            <a href="/cinema.html">Wowo Cần Thơ</a>
                        </li>
                        <li>
                            <a href="/cinema.html">Wowo Hồ Chí Minh</a>
                        </li>
                        <li>
                            <a href="/cinema.html">Wowo Đà Nẵng</a>
                        </li>
                        <li>
                            <a href="/cinema.html">Wowo Hà Nội</a>
                        </li>
                    </ul>
                </li>
                <li class="header-button pr-0">
                    <a href="/login">đăng nhập</a>
                </li>
            </ul>
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>