<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="Soyuz is a bootstrap minimal & clean admin template" />
        <meta name="keywords"
            content="admin, admin panel, admin template, admin dashboard, responsive, bootstrap 4, ui kits, ecommerce, web app, crm, cms, html, sass support, scss" />
        <meta name="author" content="Themesbox" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
        {{>admin-css-links}}
        <link rel="shortcut icon" href="/images/icon/favicon.png" />
        <title>{{title}}</title>
    </head>

    <body class="vertical-layout">
        <div id="containerbar">
            {{>admin-leftbar}}
            <div class="rightbar">
                {{>admin-header}}
                {{{body}}}
                {{>admin-footer}}
            </div>
        </div>
        {{>admin-js-links}}
    </body>

</html>